*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    list-style: none;
}
.img_logo_header{
    width: 45px;
}
.header,
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header{
    background-color: #212529;
    justify-content: space-between;
    padding: 0 10%;
    height: 100px;
    box-shadow: 1px 1px 4px  bisque;
}
.navigation_header{
    gap: 3em;
    z-index: 2;
}
.content{
    padding-top: 5em;
    text-align: center;
    height: 100vh;
    transition: 1s;
}
.navigation_header a{
    text-decoration: none;
    color:  white;
    transition: 1s;
    font-weight: bold;
}
.navigation_header a:hover{
    color:  rgba(255, 166, 0, 0.849);
}
.active{
    background: #212529;
    padding: 10px;
    border-radius: 10px;
}
.btn_icon_header{
    background: transparent;
    border: none;
    color:  rgba(255, 166, 0, 0.849);
    cursor: pointer;
    display: none;
}
.icon span{
    font-size: 2rem;
    cursor: pointer;
}

.icon span:hover{
    color: rgba(255, 166, 0, 0.849);
}

#logo span{
    color: white;
    font-size: 30px;
}
#logo #span1{
    font-size: 30px;
}

.caixa-busca{
    position: relative;
    background-color: white;
    height: 40px;
    padding: auto;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.busca-txt{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color:  #212529;
    font-size: 16px;
    line-height: 40px;
    width: 0;
    transition: .9s;
}

.busca-bnt{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFA600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa-busca:hover>.busca-txt {
    width: 240px;
    padding: 0 6px;
}

.Meio{
    padding: 7rem 0 0 8.5rem;
    line-height: 4rem;
    text-align: left;
   
    
}
.Meio p{
    text-align: left;
    
    
}
.Meio h1{
    font-size: 4rem;
    color: #212529;
    text-align: left;
    display: grid;
    
}

.background{
    background-image: url(../img/back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
    max-width: 100%;
    height: 100vh;
}


@media screen and (max-width: 768px) {
    .navigation_header{
        position: absolute;
        flex-direction: column !important;
        top: 0;
        background:  #212529;
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }
    .btn_icon_header{
        display: block;
    }
    .caixa-busca:hover>.busca-txt {
        width: 22vw;
        padding: 0 10px;
    }
    .Meio h1{
        font-size: 2rem;
        
    }
}
@keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: -10vw;}
}


/*Fim do header*/

.Msg-inicial{
    color: #212529;
    width: center;
    padding-top: 7rem;
    font-size: 15px;
}
.categorias h1{
    justify-content: center;
    position: center;
}

.categorias img{
    height: auto;
    background-color: white;
    border-radius: 10px;
}

button.green{
    background-color: #13CE66;
    border-radius: 5px;
    color: #000;
}

button.red{
    background-color: #FF4949;
    border-radius: 5px;
    color: #000;
}

button.sim{
    background-color: #13CE66;
    border-radius: 5px;
    color: #000;
}

button.nao{
    background-color: #FF4949;
    border-radius: 5px;
    color: #000;
}

.categorias{
    margin-top: 10rem;
    justify-content: center;
    position: center;
    background-color:  #212529;
}
.Msg-inicial h1{
    font-size: 45px;
}

.form{
    display: flex;
    justify-content: center;
    position: center;
}

.span-required{
    font-size: 12px;
    margin: 3px 0 0 1px;
    color: #e63636;
    display: none;
    position: center;
}

input{
    position: center;
    margin: 3px 0 0 1px;
}

#myFile{
    position: center;
}

select{
    display: flex;
    justify-content: space-around;
    position: center;
    margin: 3px 0 0 1px;
    size-adjust: auto;
    width: 40.2%;
    
}

.anexo {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding: 10px 10%;
    margin: 3px 0 0 1px;
    text-align: center;
}

.selecao{
    display: flex;
    justify-content: space-around;
    position: center;
    margin: 3px 0 0 1px;
    width: center;
    size-adjust: auto;
    padding: 1px;
    
}





.Meio button{
    background-color: rgba(255, 166, 0, 0.849);
    padding: 1rem 3rem 1rem 3rem;
    border: none;
    border-radius: 5px;
    color: #fff;
   font-size: 1rem;
   cursor: pointer;
   transition: 0.3s;

}

.Meio button:hover{
      background-color: #212529;
      transform: scaleY(1.2);
}

section{
    padding-top: 7rem;
}

section h1{
    align-items: center;
    text-align: center;
    font-size: 2rem;

}

.Container-card-1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding-top: 2rem;
    
   
}

.cards{
    background-color: #212529;
}

.cards p{
    color:#FFA600
}

.cards img{
    width: 200px;
    height: 200px;
    transition: 0.35s ease;
}

.cards img:hover{
     transform: scale(0.9) translateY(-5px);
     cursor: pointer;
     background-color: #212529;
     border-radius: 10px;
}

.cta{
    height: 60vh;
    width: 100%;
    background: url(img/ffffc.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    margin-top: 5rem;
}

.text-cta{
    padding-left: 5rem;
}

.text-cta h6{
    font-size: 17px;
	font-weight: 500;
	letter-spacing: .6px;
	margin-bottom: 14px;

}

.text-cta h4{
    font-size: 3.3rem;
	line-height: 1.2;
	letter-spacing: .6rem;
	margin-bottom: 30px;
}

.text-cta a{
    background-color:  rgba(255, 166, 0, 0.849);
    padding: 1rem 3rem 1rem 3rem;
    border: none;
    border-radius: 5px;
    color: #fff;
   font-size: 1rem;
   cursor: pointer;
   transition: 0.3s;
}

.text-cta a:hover{
    background-color: #111;
      transform: scaleY(1.2);

}

.Container-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
    
}

.Container-item img:hover{
    transform: scale(0.9) translateY(-5px);
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
}

.item img{
    width: 300px;
    height: 250px;
}

.item{
    background-color: rgba(255, 166, 0, 0.849);
    color: #000;
}

.Marcas{
    margin-top: 10rem;
    cursor: pointer;
    align-items: center;
    text-align: center;
}

.Marcas img{
    width: 180px;
    height: auto;
    background-color: white;
}


html{
    height: 100%;
}

body{
    margin: 0;
    min-height: 100%;
}

nav {
    width: 100%;
    display: flex;
    position: fixed;
    margin: 28px 830px;
}

nav a {
    color: #000000;
    text-decoration: none;
    margin-top: 10px;
}

nav li {
    list-style: none;
}

nav ul li{
    padding: 25px;
    display: inline;
    position: relative;
}

h2, p {
  text-align: center;
  color: #000000;
}

h2 {
  padding-top: 30px;
}

label, #myFile {
  text-align: center;
  margin: 0 550px;
}

#myFile1 {
  margin: 0 650px;
}

#title {
    position: fixed;
    left: 2%;
    top: 3%;
}

.nav-link {
    margin: 0 350px;
}

.link{
    width: 100%;
    padding-top: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;

}

.link a{
    color:rgba(255, 166, 0, 0.849);
}

.a{
    color:rgba(255, 166, 0, 0.849);
}

h1, h3, div {
    text-align: center;
  }

#entrada {
    padding-left: 30px; 
    width: 40%; 
    margin: auto;
  }

.row:after {
  content: "";
  display: table;
  clear: both;
}

.container-fluid{
  padding-top: 50px;
}
#button{
    background-color: rgba(255, 166, 0, 0.849);
    color: #fff;
    border-radius: 8px;
    padding: 10px 30px;
}

#Contato{
    display: flex;
    gap: 5rem;
    justify-content: space-around;
    background-color: #111;
    padding: 8rem;
    margin-top: 5rem;
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
}

.meio-contato h3{
    color: #fff;
    font-size: 23px;
    margin-bottom: 1.6rem;
}

.meio-contato h5{
    font-size: 15px;
    font-weight: 600;
    color: #555;
}

.meio-contato li{
    margin-bottom: 15px;
}

.meio-contato li a{
    display: block;
    color: #555;
    font-weight: 600;
    transition: all .35s ease;
}

.last-text{
    text-align: center;
    background-color: #555;
    color: #fff;
}

main {
    height: 100vh;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  
  span {
    font-size: x-large;
  }
  
  img {
    box-shadow: 0 1px 2px #0003;
    width: 100%;
  }
  
  .swiper {
    height: 500px;
  }
  
  .swiper-slide {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media (max-width: 450px) {
    .swiper {
      height: 270px;
    }
  }

/*Páginas de contao*/

form input{
    padding: 15px;
    outline: none;
    border: 10;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
}
form input:focus{
    border-radius: 16px;
}
form textarea{
    padding: 10px;
    outline: none;
    border: 10;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;
}
form textarea:focus{
    border-radius: 16px;
}

.pg_contato{
    display: flex;
    align-items: center;
    justify-content: center;
}

.selc_contato{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    width: 500px;
   
}

section h2{
    font-size: 2.5rem;
    margin: 2rem;
}
section form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

form label{
    color: #f5f5f5;
    font-size: 17px;
    margin-bottom: 4px;
}

.modal{
    z-index:1;
    position: fixed;
    top:0;
    left:0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0.25s ease-in-out , opacity 0.25s ease-in-out, transform 0.25s ease-in-out;   
}

.modal-content{
    
    background-color: white;
    padding: 16px 24px;    
    width: 384px;
    border-radius: 0.5rem;
    color: #000;
}

.close-button{
    float: right;
    width: 24px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
 }
 .close-button:hover{
     background-color: darkgray;
 }
 
 .show-modal{
     opacity: 1;
     visibility: visible;
     transform: scale(1.0);    
 }

/*Páginas de more*/


.fotoItem{
    border-radius: 10px;
    position: center;
    width: 100%;
    height: auto;
    
}

.descricao{
    display: block;
    background-color:#272a2c;
    color: white;
   border-radius: 10px;

}

.desc-content{
    
    border-radius: 10px;
   
}
.Nome-item {
    background-color: #FFA600;
    padding: 10px 40px;
    margin:  2px;
    border-radius: 5px;
}

#Tipo, #Categoria {
    display: block;
    color:#000;
   
  }

.contato {
    padding-top: 100px;
}

#button1 {
    background-color:#272a2c;
    color:white;
    border-radius: 5px;
    padding: 10px 40px;
    margin: 85px 27px;
    text-decoration: none;
}

 #More{
    margin-top: 30px;
    background-color: #FFA600;
}

#infos{
    
    border-radius: 10px;
    /*border: 0.5px solid #272a2c;*/
}

#More h3{
    
    font-weight: bold;
    color: #272a2c;
    text-shadow: 0px 1px 1px black;
}


