<section class="Contato" id="Contato">
	<div class="meio-contato">
		<h3>Central do Som</h3>
		<h5>Venha com a gente, montar o seu sistema!</h5>
	</div>

	<div class="meio-contato">
		<h3>Explore</h3>
		<li><a href="/">Home</a></li>
		<li><a href="/?type=Usado">Usados</a></li>
		<li><a href="/?type=Novo">Novos</a></li>
		<li><a href="/Contato">Contato</a></li>
  <li><a href="#sobre">Sobre</a></li>
	</div>

	<div class="meio-contato">
		<h3>Shopping</h3>
		<li><a href="/?filter=Grave">Grave</a></li>
		<li><a href="/?filter=Médio">Médio</a></li>
		<li><a href="/?filter=tweeter">Tweeter</a></li>
		<li><a href="/?filter=Corneta">Corneta</a></li>
  <li><a href="/?filter=Módulo">Módulo Amplificador</a></li>
  <li><a href="/?filter=Alimentação">Alimentação</a></li>
  <li><a href="/?filter=Player">Player</a></li>
  <li><a href="/?filter=Caixa">Caixa</a></li>
	</div>

</section>

<div class="last-text">
	<p>Copyright © 2022 All rights reserved</p>
</div>